{% extends "base.html" %}  
{% block content %} 
<h2>{{page_title}}</h2>
<div class="blockqoute">
 <subheading>Fluids used for smoothies<subheading>
  <p>
         Pour liquids (1 to 2 cups) in first for efficient blending. Examples: coconut water, milk, juice, kefir, kombucha, herbal or green tea. To add a little Spice, sprinkle in spices, herbs, citrus zest, natural extracts and flavorings and sweeteners
 </p>
 <subheading><subheading>
 <subheading><subheading>
 <subheading><subheading>
 
  <div class="row featurette">
    <div class="col-md-7">
    <subheading> <h4>Healthy and wellness drinks</h4><subheading>
        <p>
        This simple frozen lemonade treat comes together with just four ingredients and a blender. You can use light coconut milk or refrigerated coconut milk in place of full-fat coconut milk, though the end result won't be as rich and creamy. Leftover simple syrup will keep for up to 1 week in the refrigerator
        </p>
    </div>
    <div class="col-md-5">
     <img scr="static/img/4.jpg">
     </div>
     </div>
<hr>
     <div class="row featurette">
    <div class="col-md-7">
    <subheading> <h4>Fitness drinks</h4><subheading>
        <p>
        This simple frozen lemonade treat comes together with just four ingredients and a blender. You can use light coconut milk or refrigerated coconut milk in place of full-fat coconut milk, though the end result won't be as rich and creamy. Leftover simple syrup will keep for up to 1 week in the refrigerator
        </p>
    </div>
    <div class="col-md-5">
     <img scr="static/img/4.jpg">
     </div>
     </div>
     <hr>
     <div class="row featurette">
    <div class="col-md-7">
    <subheading> <h4>Kids smoothie</h4><subheading>
        <p>
        This simple frozen lemonade treat comes together with just four ingredients and a blender. You can use light coconut milk or refrigerated coconut milk in place of full-fat coconut milk, though the end result won't be as rich and creamy. Leftover simple syrup will keep for up to 1 week in the refrigerator
        </p>
    </div>
    <hr>
    <div class="col-md-5">
     <img scr="static/img/4.jpg">
     </div>
     </div>
   </div>

{% endblock %}