{% extends "base.html" %}  
{% block content %} 
<h2>About Page</h2>

 <subheading>Fluids used for smoothies<subheading>
  <p>
         Pour liquids (1 to 2 cups) in first for efficient blending. Examples: coconut water, milk, juice, kefir, kombucha, herbal or green tea. To add a little Spice, sprinkle in spices, herbs, citrus zest, natural extracts and flavorings and sweeteners
 </p>
 <subheading><subheading>
 <subheading><subheading>
 <subheading><subheading>
 <subheading><subheading>
 
{% endblock %}