{% extends "base.html" %}  
{% block content %} 
<h2>Activo</h2>
<subheading>
<h4>Types of Smoothies</h4>
  

<subheading>
  <div class="row">
  <p>
  
Like the first sighting of a robin, a pale green minty Shamrock Shake is an annual reminder that spring is on its way. And when you make a homemade version of this fast-food favorite with real ice cream, milk and a refreshing hint of peppermint, you'll feel even more invigorated for the change of season. It's magically delicious that way!
      <div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
        <!-- Grey navigation panel

              This content will be:
          3-columns-wide on large screens,
          4-columns-wide on medium screens,
          12-columns-wide on small screens  -->

      </div>

      <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->

<p>
<div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Smoothies
            </h2>
            <h3 class="post-subtitle">
               Craving for something more, these healthy drinks will give you a boost of nutrition.
            </h3>
          </a>
          <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
            <a href="#">Activo</a>
            fresh & tasty, 2021</p>
        </div>
        <hr>
Whipped frozen lemonade combines the creaminess of a milkshake with the thirst-quenching tanginess of freshly squeezed lemonade for an incredibly refreshing treat. And .


Use ripe bananas for this creamy Greek yogurt, spinach and pineapple smoothie. Chia seeds add healthy omega-3 fats, fiber and a little protein for an extra nutritional boost.

This easy fruit smoothie with yogurt recipe calls for just three ingredients--yogurt, fruit juice and whatever frozen fruit you have on hand. Mix up your combinations from day to day for a healthy breakfast or snack you'll never get bored with.

</p>
   <div class="post-preview">
          <a href="post.html">
          
            <h2 class="post-title">
              Smoothies
            </h2>
            
            <h3 class="post-subtitle">
               Craving for something more, these healthy drinks will give you a boost of nutrition.
            </h3>
          </a>
          <div class="col-md-5 s12">
            <img class="materialboxed" width="650" src="static/img/5.jpg">
            </div>
          <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
            <a href="#">Activo</a>
            fresh & tasty, 2021</p>
        </div>
        <hr>   
          
 <div class="col-md-7 s12"> Whipped frozen lemonade combines the creaminess of a milkshake with the thirst-quenching tanginess of freshly squeezed lemonade for an incredibly refreshing treat. And .


Use ripe bananas for this creamy Greek yogurt, spinach and pineapple smoothie. Chia seeds add healthy omega-3 fats, fiber and a little protein for an extra nutritional boost.

This easy fruit smoothie with yogurt recipe calls for just three ingredients--yogurt, fruit juice and whatever frozen fruit you have on hand. Mix up your combinations from day to day for a healthy breakfast or snack you'll never get bored with.

This healthy green smoothie gets super creamy from the frozen banana and avocado. Make ahead (up to 1 day) and store it in the fridge until you need a veggie boost.


This creamy vegan watermelon smoothie has a subtle coconut flavor thanks to coconut-milk yogurt. Strawberries add color and banana adds a smooth texture while letting the watermelon flavor shine through.
</div>
<div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Smoothies
            </h2>
            <h3 class="post-subtitle">
               Craving for something more, these healthy drinks will give you a boost of nutrition.
            </h3>
          </a>
          <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
            <a href="#">Activo</a>
            fresh & tasty, 2021</p>
        </div>
        <hr>
The Bee's Knees is a classic Prohibition cocktail that blends the crisp, botanical flavor of gin with bright citrus and the soft floral notes of honey. This cheery spring cocktail is made with simple ingredients you likely have in your pantry, making it a great happy hour option when you don't want to make a special trip to the store.


Like the first sighting of a robin, a pale green minty Shamrock Shake is an annual reminder that spring is on its way. And when you make a homemade version of this fast-food favorite with real ice cream, milk and a refreshing hint of peppermint, you'll feel even more invigorated for the change of season. It's magically delicious that way!


This creamy high-protein shake will keep you satisfied for hours and tastes like a chocolate-peanut butter banana milkshake. You don't even need to add protein powder, thanks to the naturally occurring protein in the soymilk, Greek yogurt and peanut butter.

<div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Smoothies
            </h2>
            <h3 class="post-subtitle">
               Craving for something more, these healthy drinks will give you a boost of nutrition.
            </h3>
          </a>
          <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
            <a href="#">Activo</a>
            fresh & tasty, 2021</p>
        </div>
        <hr>

Apples and peanut butter are a classic pair-try them blended together in this healthy smoothie recipe.

The combination of kale and avocado makes this healthy smoothie recipe extra green. Chia seeds lend this creamy smoothie a heart-healthy punch of fiber and omega-3 fatty acids.
<div class="post-preview">
          <a href="post.html">
            <h2 class="post-title">
              Smoothies
            </h2>
            <h3 class="post-subtitle">
               Craving for something more, these healthy drinks will give you a boost of nutrition.
            </h3>
          </a>
          <p class="post-meta">Start your day refreshed with a drink of fresh juices and smoothies. .
            <a href="#">Activo</a>
            fresh & tasty, 2021</p>
        </div>
        <hr>
This fresh strawberry margarita is sweet, with a light herbal note from the basil. It's got the classic margarita taste—with the added benefit of fresh strawberries shining through, making it light and very refreshing.

When you're feeling backed-up, this high-fiber chia concoction can help make your bathroom routine smoother. The chia seeds form a gel-like consistency to help move digestion along easily, and the kick of cayenne pepper acts as an intestinal stimulant.
</div>

    </div>
{% endblock %}